.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo {
  position: relative;
  width: 190px;
  height: 35px;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px 'pt_serif', arial, helvetica, sans-serif;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 61%;
  background: #c8dbfb;
}

#menu__toggle {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  font-family: 'robotomedium', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px 'roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  opacity: 1;
  transition: 0.4s;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 1;
}

.menu__item:hover {
  opacity: 0.4;
}

.menu__item:hover::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0.8;
}

.menu__item:last-child {
  margin-right: 0;
}

.main {
  padding: 0% 63% 100% 0;
  background: top right no-repeat url(img/mainimg.svg);
}

.main__title {
  margin: 0 0 40px 0;
  font: bold 50px/65px 'pt_serif', arial, helvetica, sans-serif;
}

.main__title-text_hightlight {
  background: #ecf3ff;
}

.main__subtitle {
  width: 455px;
  height: 52px;
  margin: 0 0 41px 0;
  font: 18px/21px 'roboto', arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 14px/16px 'robotomedium', arial, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 14px 21px;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.5s;
}

.main__button:hover {
  opacity: 0.5;
}

@media (min-width: 1900px) {

  .logo {
    position: relative;
    width: 190px;
    height: 35px;
    padding: 2% 0;
    padding-left: 44px;
    font: bold 24px/31px 'pt_serif', arial, helvetica, sans-serif;
  }

  .logo__circle {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 48%;
    transform: translateY(-50%);
    border-radius: 50%;
    opacity: 0.7;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 54%;
    background: #c8dbfb;
  }

  .menu__item {
    position: relative;
    margin-right: 28px;
    font: 500 18px/21px 'roboto', arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    opacity: 1;
    transition: 0.4s;
  }

  .main {
    padding: 7.5% 63% 100% 0;
    background: top 3% right no-repeat url(img/mainimg.svg);
  }

  .main__title {
    margin: 0 0 35px 0;
    width: 587px;
    font: bold 66px/87px 'pt_serif', arial, helvetica, sans-serif;
  }

  .main__subtitle {
    width: 455px;
    height: 52px;
    margin: 0 0 35px 0;
    font: 22px/27px 'roboto', arial, helvetica, sans-serif;
  }

  .main__button {
    display: inline-block;
    font: 18px/21px 'robotomedium', arial, sans-serif;
    color: #fff;
    background: #0056ec;
    padding: 20px 28px;
    margin: 4px 7px 0 0;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.5s;
  }
}

@media (max-width: 1366px) {

  .wrapper {
    width: 69%;
  }

  .logo {
    position: relative;
    width: 190px;
    height: 35px;
    padding: 3.5% 0;
    padding-left: 49px;
    font: bold 24px/31px 'pt_serif', arial, helvetica, sans-serif;
  }

  .logo__circle {
    position: absolute;
    left: 1%;
    top: 46%;
    transform: translateY(-50%);
    border-radius: 50%;
    opacity: 0.7;
   }

  .logo__circle_color_blue {
    left: 5%;
    top: 54%;
   }

   .menu__item {
     position: relative;
     margin-right: 28px;
     font: 500 14px/16px 'roboto', arial, helvetica, sans-serif;
   }

   .header {
     margin-bottom: 4vw;
   }

   .main {
     padding: 5% 63% 100% 0;
     background: top 3% right no-repeat url(img/mainimg.svg);
     background-size: 56%;
   }

   .main__title {
     margin: 0 0 12% 0;
     width: 587px;
     font: bold 50px/66px 'pt_serif', arial, helvetica, sans-serif;
   }

   .main__subtitle {
     width: 367px;
     height: 52px;
     margin: 0 0 30px 0;
     font: 18px/21px 'roboto', arial, helvetica, sans-serif;
   }

   .main__button {
     font: 14px/16px 'robotomedium', arial, sans-serif;
     margin-left: 0.7%;
   }
}

@media (max-width: 1024px) {

   .wrapper {
     width: 92%;
   }

   .logo {
     position: relative;
     width: 146px;
     height: 32px;
     padding-left: 4.5%;
     font: bold 24px/31px 'pt_serif', arial, helvetica, sans-serif;
   }

   .logo__circle {
     position: absolute;
     left: -1%;
     top: 47%;
   }

   .logo__circle_color_blue {
     left: 5%;
     top: 55%;
   }

   .menu__item {
      top: 3%;
      margin-right: 26px;
      font: 500 14px/16px 'roboto', arial, helvetica, sans-serif;
   }

   .header {
      margin-bottom: 6vw;
   }

   .main {
      padding: 5% 63% 100% 0;
      background: top 3% right no-repeat url(img/mainimg.svg);
      background-size: 56%;
   }

   .main__title {
      margin: 0 0 11% 0;
      width: 587px;
      font: bold 50px/66px 'pt_serif', arial, helvetica, sans-serif;
   }

   .main__subtitle {
      width: 367px;
      height: 52px;
      margin: 3% 0 32px 0;
      font: 18px/21px 'roboto', arial, helvetica, sans-serif;
   }

   .main__button {
      font: 14px/16px 'robotomedium', arial, sans-serif;
      margin-left: -0.7%;
   }
}

@media (max-width: 768px) {

   .wrapper {
     width: 80%;
   }

   .header {
     margin-bottom: 28px;
   }

   .logo__text {
     display: none;
   }

   .logo {
     right: 7%;
     padding: 5% 0;
   }

   .menu {
     display: block;
     text-align: center;
     background-size: 100%;
     background-position: center;
     position: fixed;
     visibility: hidden;
     height: 100%;
     width: 100%;
     padding-top: 42%;
     padding-left: 3%;
     list-style: none;
     background-color: #fff;
     transition-duration: 0.25s;
   }

   #menu__toggle {
     opacity: 0;
   }

   #menu__toggle:checked ~ .menu__btn > span {
     transform: rotate(45deg);
   }

   #menu__toggle:checked ~ .menu__btn > span::before {
     top: 0;
     transform: rotate(0);
   }

   #menu__toggle:checked ~ .menu__btn > span::after {
     top: 0;
     transform: rotate(90deg);
   }

   #menu__toggle:checked ~ .menu {
     visibility: visible;
     left: 0;
   }

   #menu__toggle:checked ~ .main {
     visibility: hidden;
   }

   .menu__item {
     display: block;
     margin-bottom: 25px;
     font: bold 30px/35px 'roboto', sans-serif;
     text-decoration: none;
     transition-duration: 0.25s;
   }

   .menu__item_active::after {
     display: none;
   }

   .menu__item:hover {
     opacity: 0.8;
   }

   .menu__item:last-child {
     margin-right: 8%;
   }

   .menu__btn {
     display: flex;
     position: fixed;
     top: 6%;
     left: 87%;
     width: 25px;
     height: 3px;
     cursor: pointer;
     z-index: 1;
   }

   .menu__btn > span,
   .menu__btn > span::before,
   .menu__btn > span::after {
     display: block;
     position: absolute;
     width: 25px;
     height: 3px;
     background-color: #0056ec;
     transition-duration: 0.25s;
   }

  .menu__btn > span::before {
    content: '';
    top: -7px;
  }
  .menu__btn > span::after {
    content: '';
    top: 7px;
  }

  .main {
    text-align: center;
    padding: 67% 0 0;
    background-position: top -4% center;
    background-size: 97%;
  }

  .main__title {
    padding: 21% 0 0;
    width: 100%;
    font: bold 30px/39px 'pt_serif', arial, helvetica, sans-serif;
  }

  .main__subtitle {
    padding: 0 8%;
    width: auto;
    margin-top: 0;
    margin-bottom: 31px;
    font: 500 16px/19px 'roboto', arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px 'robotomedium', arial, sans-serif;
  }
}

@media (max-width: 850px) {

   .logo__text {
     margin-left: 3%;
   }

   .main__title {
     width: 100%;
     font: bold 30px/39px 'pt_serif', arial, helvetica, sans-serif;
   }

   .main__subtitle {
     width: auto;
     margin-top: 0;
     margin-bottom: 31px;
     font: 500 16px/19px 'roboto', arial, helvetica, sans-serif;
   }
}
